*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gotham';
    font-weight: normal;
    src: url('../fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gotham-Book.eot') format('embedded-opentype'),
    url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham';
    font-weight: 700;
    src: url('../fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gotham-Bold.eot') format('embedded-opentype'),
    url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold.ttf') format('truetype');
}


body {
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #221F1F;
}

.section {
    padding-top: 120px;
}

@media (min-width: 1024px) {
    .section {
        padding-top: 200px;
    }
}

.main-container {
    width: 100%;
    max-width: 1460px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.btn {
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    border-radius: 100px;
    line-height: 140%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #fff;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 15%);
    border-width: 1px;
    border-style: solid;
    transition-duration: .25s;
    cursor: pointer;
}

@media (min-width: 768px) {
    .btn {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.btn-green {
    border: 1px solid #7B9E87;
    background-color: #7B9E87;
    color: #fff;
}

.btn-green:hover {
    background-color: #5D8169;
    border-color: #5D8169;
}

.btn-blue-inverse {
    border: 1px solid #6EAFD0;
    background-color: #fff;
    color: #221F1F;
}

.btn-blue-inverse:hover {
    background-color: #6EAFD0;
    color: #fff;
}

.btn-black {
    border: 1px solid #221F1F;
    background-color: #221F1F;
    color: #fff;
}

.btn-black:hover {
    border-color: #E78D37;
    background-color: #E78D37;
    color: #fff;
}

h1 span,
h2 span {
    color: #6EAFD0;
}

h2 {
    font-family: 'Gotham', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #221F1F;
    text-transform: capitalize;
    line-height: normal;
}

h3 {
    font-size: 28px;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
}

@media (min-width: 768px) {
    h2 {
        font-size: 42px;
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: 52px;
    }
}

.section-description {
    margin-top: 14px;
    margin-bottom: 42px;
    line-height: 1.4;
    color: #8B8E99;
}

@media (min-width: 1024px) {
    .section-description {
        margin-top: 24px;
        font-size: 18px;
    }
}
