.home__hero {
    padding-top: 16px;
}

.home__hero h1 span {
    font-size: 28px;
}

.hero__inner {
    margin-bottom: 34px;
    border: 1px solid #6EAFD0;
    background-color: #DCE7EB;
    border-radius: 24px;
    overflow: hidden;
}

.hero__inner .badge {
    margin-bottom: 30px;
    font-size: 14px;
}

.hero__text {
    display: flex;
    padding: 24px 12px 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__text h1 {
    margin-bottom: 24px;
}

.hero__text .hero__description {
    margin-bottom: 24px;
    line-height: 1.4;
}

.hero-slider {
    position: relative;
    height: 335px;
    overflow: hidden;
}

.hero-slider__viewport {
    height: 100%;
    will-change: transform;
}

.custom-slider__image img {
    display: block;
    width: 100%;
    height: auto;
}


.custom-slider__image {
    display: flex;
    column-gap: 12px;
}

.custom-slider__image-col {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.custom-slider__image-col a {
    display: block;
    transition-duration: .25s;
    transition-property: transform;
}

.custom-slider__image-col a:hover {
    transform: scale(1.02);
}

@media (max-width: 1023px) {
    .hero__services-swiper {
        margin-left: -20px;
        margin-right: -20px;
        padding-right: calc(100vw / 2 - 110px);
        padding-left: calc(100vw / 2 - 110px);
    }
}

.hero__services-list-item {
    width: 220px;
    height: 222px;
    border-radius: 24px;
    overflow: hidden;
}

.hero__services-list-item .hero__services-list-inner {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hero__services-list-item .hero__services-list-inner .title,
.hero__services-list-item .hero__services-list-inner .btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
}


.hero__services-list-item .title {
    font-size: 20px;
    font-family: 'Gotham-bold', sans-serif;
    line-height: 1.4;
    text-align: center;
    border-radius: 90px;
    transform: translateX(-50%);
    transition-duration: .25s;
}

.hero__services-list-item .btn-secondary {
    padding-left: 12px;
    padding-right: 12px;
	font-size: 16px !important;
    white-space: nowrap;
    opacity: 0;
    transform: translate(-50%, 100%);
    transition-duration: .25s !important;
	
}

.hero__services-list-item.telehealth img {
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__services-list-item.telehealth .title {
    padding: 7px 8px;
    background-color: rgb(255 255 255 / 50%);
    backdrop-filter: blur(12px);
    color: #fff;
    white-space: nowrap;
}

.hero__services-list-item.wellness-shop .title,
.hero__services-list-item.home-labs .title,
.hero__services-list-item.therapies .title {
    padding: 10px 29px;
    background: rgb(255 255 255 / 50%);
    backdrop-filter: blur(12px);
    color: #F9A351;
    white-space: nowrap;
}

.hero__services-list-item.wellness-shop .hero__services-list-inner:after,
.hero__services-list-item.nexus .hero__services-list-inner:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 24px;
    background-color: #fff;
    z-index: -1;
}


.hero__services-list-item.wellness-shop img {
    position: relative;
    top: 6px;
}

.hero__services-list-item.home-labs img {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    max-width: none;
}

.hero__services-list-item.nexus .nexus-img {
    position: relative;
    top: 84px;
    width: calc(100% - 44px);
    object-fit: cover;
    transition-duration: .25s;
    transform-origin: center;
}

.hero__services-list-item.nexus .hero__services-list-inner {
    align-items: center;
}

.hero__services-list-item.nexus .operators {
    position: absolute;
    left: 0;
    top: 24px;
    opacity: 0;
}

.hero__services-list-item.nexus .btn-nexus {
    display: flex;
    width: calc(100% - 30px);
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    border: 1px solid #6EAFD0;
    background: rgb(255 255 255 / 50%);
    backdrop-filter: blur(12px);
    color: #221F1F;
    white-space: nowrap;
    z-index: 1;
    opacity: 1;
    transform: translateX(-50%);
}

.hero__services-list-item.therapies .hero__services-list-inner:after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    border-radius: 16px;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgb(29 36 82 / 10%);
    z-index: -1;
    transition-duration: .25s;
}

.hero__services-list-item.therapies img {
    object-fit: contain;
}

.hero__services-list-item.rewards .title {
    padding: 10px 36px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #6EAFD0;
    background: rgb(255 255 255 / 50%);
    backdrop-filter: blur(12px);
    white-space: nowrap;
}

.hero__services-list-item:not(.rewards) .hero__services-list-inner:hover .title {
    transform: translate(-50%, -116%);
}

.hero__services-list-item.telehealth .hero__services-list-inner:hover .title {
    transform: translate(-50%, -135%);
}

.hero__services-list-item.rewards .hero__services-list-inner:hover .title {
    transform: translate(-50%, -300%);
}

.hero__services-list-item.telehealth .hero__services-list-inner:hover .title,
.hero__services-list-item.home-labs .hero__services-list-inner:hover .title,
.hero__services-list-item.rewards .hero__services-list-inner:hover .title{
    background-color: transparent;
    backdrop-filter: blur(0);
}

.hero__services-list-item .hero__services-list-inner:hover .btn-secondary {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s !important;

}

.hero__services-list-item.nexus .hero__services-list-inner:hover .operators {
    opacity: 1;
    transition-duration: .25s;
}

.hero__services-list-item.nexus .hero__services-list-inner:hover .nexus-img {
    transform: rotate(10deg);
}

.hero__services-list-item.therapies .hero__services-list-inner:hover:after {
    top: 0;
}

.hero__services-list-item.therapies img {
    transition-duration: .25s;
}

@media (min-width: 1024px) {
    .hero__inner {
        display: grid;
        grid-template-columns: 1fr 514px;
        margin-bottom: 64px;
        align-items: center;
    }

    .hero__inner .badge {
        font-size: 18px;
    }

    .hero__text {
        text-align: left;
        align-items: flex-start;
    }

    .hero__text h1 {
        text-align: left;
        text-transform: uppercase;
        font-size: 52px;
    }

    .home__hero h1 span {
        font-size: 36px;
    }

    .hero__description {
        max-width: 470px;
        font-size: 20px;
        line-height: 1.4;
    }

    .hero-slider {
        height: 582px;
        padding-right: 4px;
        padding-left: 4px;
    }
}

@media (min-width: 1280px) {
    .hero__inner {
        padding-right: 60px;
        padding-left: 60px;
    }

    .hero__text h1 {
        font-size: 68px;
    }

    .hero__text h1 span {
        font-size: 52px;
        text-transform: capitalize;
    }

    .hero__text .hero__description {
        margin-bottom: 42px;
    }

    .hero__text {
        padding-left: 0;
    }

    .custom-slider__image {
        column-gap: 20px;
    }

    .custom-slider__image-col {
        row-gap: 20px;
    }
}

@media (min-width: 1400px) {
    .hero__inner {
        padding-left: 90px;
    }

    .hero__services-list {
        justify-content: space-between;
    }

    .home__hero .swiper-pagination {
        display: none;
    }
}

.black-friday .hero__inner {
    background-image: url("../img/hero/black-friday-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.cyber-monday .hero__inner {
    background-image: url("../img/hero/cyber-monday-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.black-friday h1 {
    display: none;
}

.black-friday .hero__additional-title,
.cyber-monday .hero__additional-title {
    margin-bottom: 24px;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 2px;
    line-height: 1;
    text-transform: uppercase;
}

.black-friday .hero__additional-title {
    color: #FABA7D;
    -webkit-text-stroke-color: #F9A351;
}

.cyber-monday .hero__additional-title {
    color: #4182A3;
    -webkit-text-stroke-color: #6EAFD0;
}

.black-friday .badge-grey {
    color: #fff;
    box-shadow: 0 0 12px 0 #FFF;
}

.black-friday .hero__additional-info,
.cyber-monday .hero__additional-info {
    margin-bottom: 32px;
    padding: 8px 14px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-family: 'Gotham', sans-serif;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0 0 12px 0 #6EAFD0;
}

.black-friday .hero__additional-info {
    border-color: #6EAFD0;
    background-color: #221F1F;
}

.cyber-monday .hero__additional-info {
    border-color: #95D8F9;
    background-color: #F6F6F6;
    color: #6EAFD0;
}

.black-friday .hero__additional-info span,
.cyber-monday .hero__additional-info span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6EAFD0;
}

.hero__btn-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.black-friday .hero__code,
.cyber-monday .hero__code {
    cursor: pointer;
    line-height: 1.5;
    background-color: rgba(247, 245, 241, 0.10);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.black-friday .hero__code:hover,
.cyber-monday .hero__code:hover {
    background-color: rgba(247, 245, 241, 0.15);
}

.black-friday .hero__description,
.cyber-monday .hero__description {
    display: grid;
    max-width: none;
    grid-row-gap: 4px;
}

@media (min-width: 768px) {
    .black-friday .hero__additional-title,
    .cyber-monday .hero__additional-title {
        font-size: 68px;
    }

    .hero__additional-info {
        margin-bottom: 42px;
    }
}

/*Christmas edition*/
.christmas-edition .hero__inner {
    position: relative;
    z-index: 1;
}

.christmas-edition .hero__inner::before,
.christmas-edition .hero__inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.christmas-edition .hero__inner::before {
    height: 100%;
    width: 100%;
    background-image: url("./wp-content/themes/salient-child/inc/assets/img/home/hero/snow-mobile.webp");
    background-size: contain;
}

.christmas-edition .hero__inner::after {
    height: 160px;
    width: 105%;
    background-image: url("/wp-content/themes/salient-child/inc/assets/img/home/hero/hero-christmas-decor-mobile.webp");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: left 100% top;
}

@media (max-width: 767px) {
    .christmas-edition .hero__text h1 {
        font-size: 24px;
    }
}

.christmas-edition .hero__btn-wrapper {
    align-items: center;
}

.christmas-edition .hero__additional-info {
    display: grid;
    margin-bottom: 12px;
    padding: 4px 14px;
    border-radius: 4px;
    border: 1px solid #95D8F9;
    background-color: #F6F6F6;
    box-shadow: 0 0 12px 0 #6EAFD0;
    font-family: "Gotham", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #6EAFD0;
    text-align: center;
}

.christmas-edition .hero__additional-info span {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.christmas-edition .hero__btn-wrapper .btn {
    padding-right: 10px;
    padding-left: 10px;
}

.christmas-edition .hero__code {
    column-gap: 4px;
    background-color: rgba(247, 245, 241, 0.10);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    color: #221F1F;
}

.christmas-edition .care-network__list-item {
    background-image: url("/wp-content/themes/salient-child/inc/assets/img/home/care-network/christmas-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .christmas-edition .hero__inner::after {
        width: 762px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1024px) {
    .christmas-edition .hero__inner::before {
        background-image: url("/wp-content/themes/salient-child/inc/assets/img/home/hero/snow-desktop.webp");
        opacity: .45;
    }

    .christmas-edition .hero__inner::after {
        left: 0;
        width: 48%;
        transform: translateX(0);
        background-image: url("/wp-content/themes/salient-child/inc/assets/img/home/hero/hero-christmas-decor-desktop.webp");
    }

    .christmas-edition .hero__additional-info {
        margin-bottom: 32px;
        text-align: left;
        font-size: 28px;
    }

    .christmas-edition .hero__additional-info span {
        font-size: 20px;
    }

    .christmas-edition .hero__btn-wrapper .btn {
        padding-right: 40px;
        padding-left: 40px;
    }

    .christmas-edition .hero__btn-wrapper .btn.hero__code {
        padding-right: 24px;
        padding-left: 24px;
    }

    .christmas-edition .hero__description {
        display: grid;
        max-width: none;
    }

    .christmas-edition .section__get-clarity {
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .christmas-edition .section__get-clarity::before,
    .christmas-edition .section__get-clarity::after {
        content: '';
        position: absolute;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .christmas-edition .section__get-clarity::before {
        left: 38%;
        top: 0;
        width: 110px;
        height: 124px;
        background-image: url("../img/get-clarity/chritmas-decor-small.webp");
        z-index: 1;
    }

    .christmas-edition .section__get-clarity::after {
        right: -46px;
        width: 228px;
        height: 196px;
        background-image: url("../img/get-clarity/chritmas-decor-big.webp");
        z-index: -1;
    }

    .christmas-edition .nexus__list-text {
        transform: translateY(70px);
        transition-duration: .25s;
    }

    .christmas-edition .nexus__list-item:hover .nexus__list-text {
        transform: translateY(0);
    }
}

@media (min-width: 1280px) {
    .christmas-edition .section__get-clarity::after {
        right: -66px;
        width: 330px;
        height: 300px;
    }
}

@media (min-width: 1440px) {
    .christmas-edition .hero__inner::after {
        width: 58%;
    }

    .christmas-edition .get-clarity__text {
        position: relative;
        z-index: 2;
    }
}

@media (min-width: 1690px) {
    .christmas-edition .section__get-clarity::after {
        right: -85px;
        width: 430px;
        height: 400px;
    }
}

@media (min-width: 1920px) {
    .christmas-edition .section__get-clarity::after {
        right: -156px;
        width: 660px;
        height: 600px;
    }
}