.section-reviews h2 {
    font-size: 31px;
    margin-bottom: 14px;
}

.section-reviews_subtitle {
    margin-bottom: 24px;
    font-family: 'Gotham', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #6EAFD0;
}

.reviews__tabs-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4px;
    margin-bottom: 20px;
    padding: 4px;
    border: 1px solid #fff;
    border-radius: 12px;
}

.reviews__tabs-nav .tab-btn {
    padding: 18px 20px;
    text-align: center;
    background-color: #fff;
    border-width: 0;
    border-radius: 8px;
    color: #8B8E99;
    transition-duration: .25s;
    cursor: pointer;
    text-transform: capitalize;
}

.reviews__tabs-nav .tab-btn.active {
    background-color: #F9A351;
    color: #fff;
}

.reviews__tabs-img .label-img {
    position: absolute;
    top: 20px;
    left: 24px;
    width: 163px;
    height: 71px;
}

@media (max-width: 1023px) {
    .reviews__tabs-img {
        display: none;
    }

    .reviews__tab-content .review-item:nth-child(n+4) {
        display: none;
    }
}

.section-reviews .review-item {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 8px;
    padding: 20px;
    border-radius: 16px;
    background-color: #fff;
    line-height: 1.4;
}

.section-reviews .review-item__name {
    color: rgba(34, 31, 31, 0.40);
    font-size: 20px;
    font-weight: 700;
    font-variant-numeric: lining-nums proportional-nums;
}

.review-item__rating {
    margin-bottom: 16px;
}

.reviews__tab-content .btn {
    display: flex;
}

@media (min-width: 1024px) {
    .section-reviews h2,
    .section-reviews_subtitle {
        text-align: center;
    }

    .section-reviews h2 {
        font-size: 44px;
    }

    .section-reviews_subtitle {
        font-size: 32px;
    }

    .reviews__tabs {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-column-gap: 16px;
    }

    .tab-btn {
        padding-top: 16px;
        padding-bottom: 16px;
        line-height: 1;
    }

    .tab-btn br {
        display: none;
    }

    .reviews__tab-img {
        position: relative;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
    }

    .reviews__tab-img img {
        width: 100%;
        height: 100%;
        max-width: none;
        object-fit: cover;
    }

    .reviews__tab-description {
        position: absolute;
        right: 24px;
        left: 24px;
        bottom: 24px;
        padding: 16px;
        border-radius: 12px;
        border: 1px solid #F9A351;
        background-color: rgb(255 255 255 / 80%);
        backdrop-filter: blur(6px);
        text-align: center;
    }
}

@media (min-width: 1280px) {
    .section-reviews h2 {
        margin-bottom: 12px;
        font-size: 52px;
    }

    .section-reviews_subtitle {
        margin-bottom: 64px;
    }

    .reviews__tabs {
        grid-template-columns: 1fr 526px;
        grid-column-gap: 86px;
    }

    .reviews__tabs-text {
        display: flex;
        flex-direction: column;
    }

    .reviews__tab-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .section-reviews .review-item {
        height: 100%;
        justify-content: space-between;
        margin-bottom: 12px;
        padding: 30px;
        font-size: 18px;
    }

    .reviews__tab-description {
        padding-left: 56px;
        padding-right: 56px;
        font-size: 18px;
    }
}