.cta-inner {
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px;
    background-image: url("../img/cta/cta-bg-mobile.webp");
    background-size: cover;
    text-align: center;
    font-size: 18px;
}

.cta-inner h2 {
    margin-bottom: 16px;
}

.cta-inner .btn {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .cta-inner {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url("../img/cta/cta-bg-desktop.webp");
    }

    .cta-inner h2 {
        display: grid;
    }

    .cta-inner p {
        padding-inline: 24px;
    }
}

@media (min-width: 1024px) {
    .cta-inner {
        margin-right: 0;
        margin-left: 0;
        padding-top: 90px;
        padding-bottom: 90px;
        border-radius: 24px;
        box-shadow: 0 1px 3px 0 rgba(29, 36, 82, 0.10), 0 1px 2px 0 rgba(29, 36, 82, 0.06);
    }

    .cta-inner h2 {
        display: block;
    }

    .cta-inner p {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }

    .cta-inner .badge {
        margin-bottom: 42px;
    }

    .cta-inner .btn {
        margin-top: 42px;
    }
}