@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Gotham';
    font-weight: normal;
    src: url('../../fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Gotham-Book.eot') format('embedded-opentype'),
    url('../../fonts/Gotham-Book.woff2') format('woff2'),
    url('../../fonts/Gotham-Book.woff') format('woff'),
    url('../../fonts/Gotham-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham';
    font-weight: 700;
    src: url('../../fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Gotham-Bold.eot') format('embedded-opentype'),
    url('../../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../../fonts/Gotham-Bold.woff') format('woff'),
    url('../../fonts/Gotham-Bold.ttf') format('truetype');
}


body {
    margin: 0;
    background-color: #F7F5F1;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #221F1F;
}

.section {
    padding-top: 120px;
}

@media (min-width: 1024px) {
    .section {
        padding-top: 200px;
    }
}

.main-container {
    width: 100%;
    max-width: 1460px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.btn {
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    border-radius: 100px;
    line-height: 140%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #fff;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 15%);
    border-width: 1px;
    border-style: solid;
    transition-duration: .25s;
    cursor: pointer;
}

@media (min-width: 768px) {
    .btn {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.btn-orange {
    background-color: #F9A351;
    border-color: #F9A351;
}

.btn-orange:hover {
    background-color: #221F1F;
    color: #fff;
    border-color: #221F1F;
}

.btn-black {
    border: 1px solid #221F1F;
    background-color: #221F1F;
    color: #fff;
}

.btn-black:hover {
    border-color: #E78D37;
    background-color: #E78D37;
    color: #fff;
}

.btn-green {
    border: 1px solid #7B9E87;
    background-color: transparent;
    color: #221F1F;
}

.btn-green:hover {
    background-color: #5D8169;
    border-color: #5D8169;
    color: #fff;
}

h1 span,
h2 span {
    color: #6EAFD0;
}

h2, .title {
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: normal;
}

h2 {
    font-size: 32px;
    color: #221F1F;
}

h3 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
}

@media (min-width: 768px) {
    h2 {
        font-size: 42px;
    }
}

@media (min-width: 1280px) {
    h2 {
        font-size: 52px;
    }
}

.section-description {
    margin-top: 14px;
    margin-bottom: 42px;
    line-height: 1.4;
}

.swiper-pagination {
    position: static;
    margin-top: 24px;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 5px;
    width: 12px;
    height: 12px;
    background-color: #6EAFD0;
    opacity: 0.2;
    transition-duration: .25s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-slide {
    height: auto;
}

.tab-content:not(.active) {
    display: none;
}

.badge {
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    height: 50px;
    max-width: 336px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 30px;
    border: 1px solid rgba(93, 150, 179, 0.20);
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 140%;
}

@media (min-width: 1024px) {
    .section-description {
        margin-top: 24px;
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .swiper-pagination {
        display: none;
    }
}