.section__key-benefits .main-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.balance__img-wrapper {
    margin-bottom: 24px;
}

.balance__img {
    display: block;
    margin-bottom: 12px;
    border-radius: 16px;
    overflow: hidden;
}

.balance__img-description {
    padding: 15px 20px;
    border-radius: 12px;
    border: 1px solid #6EAFD0;
    background-color: rgba(255, 255, 255, 0.80);
    text-align: center;
}

.balance__text {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.10);
    background-image: url("../img/benefits/balance-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.balance__text-description {
    margin-bottom: 24px;
}

.balance__text-subtitle {
    margin-bottom: 24px;
    font-size: 28px;
    color: #6EAFD0;
}

.balance__text .btn {
    width: 100%;
}

@media (min-width: 768px) {
    .balance__img-wrapper {
        position: relative;
    }

    .balance__img-description {
        position: absolute;
        left: 50%;
        bottom: 24px;
        width: 100%;
        max-width: 540px;
        transform: translateX(-50%);
        backdrop-filter: blur(6px);
    }

    .balance__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .balance__text .btn {
        width: auto;
    }
}

@media (min-width: 1024px) {
    .section__key-benefits .main-container {
        row-gap: 200px;
    }

    .balance__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
        order: 1;
    }

    .balance__img-wrapper {
        margin-bottom: 0;
    }

    .balance__img {
        height: 100%;
    }

    .balance__img img {
        height: 100%;
        object-fit: cover;
    }

    .balance__img-description {
        max-width: 436px;
    }
}

@media (min-width: 1280px) {
    .balance__wrapper {
        grid-template-columns: 726px 1fr;
        grid-column-gap: 32px;
    }

    .balance__img-description {
        max-width: 540px;
    }

    .balance__text-subtitle {
        font-size: 32px;
    }

}

@media (min-width: 1440px) {
    .balance__text {
        padding-right: 64px;
        padding-left: 64px;
    }

    .balance__text h2 {
        max-width: 522px;
    }
}

.benefits__title {
    margin-bottom: 32px;
}

.benefits__subtitle {
    margin-bottom: 12px;
    color: #6EAFD0;
    font-size: 32px;
}

.benefits__universal--wrapper {
    margin-bottom: 12px;
}

.benefits__universal--list {
    display: grid;
    grid-row-gap: 12px;
}

.benefits__universal--list-item {
    padding: 24px;
    border-radius: 12px;
    background-image: url("../img/benefits/benefits-bg-mobile.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.10);
}

.benefits__universal--list-item .list-item-title {
    position: relative;
    margin-bottom: 20px;
    padding-left: 46px;
    font-size: 28px;
}

.benefits__universal--list-item .list-item-title::before,
.benefits__list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url("../img/benefits/badge.webp");
    background-size: contain;
    background-repeat: no-repeat;
}

.benefits__lists-wrapper {
    display: grid;
    grid-row-gap: 12px;
}

.benefits__lists--inner {
    margin-bottom: 12px;
    padding: 32px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 24px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.10);
}

.benefits__list {
    display: grid;
    grid-row-gap: 16px;
}

.benefits__list-item {
    position: relative;
    padding-left: 46px;
}

.benefits__lists-item--title{
    margin-bottom: 32px;
}

.benefits__item-img {
    display: block;
    border-radius: 16px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

@media (min-width: 1024px) {
    .benefits__universal--wrapper {
        margin-bottom: 24px;
        padding: 32px;
        border-radius: 24px;
        background-color: #fff;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.10);
    }

    .benefits__subtitle {
        margin-bottom: 32px;
    }

    .benefits__universal--list,
    .benefits__lists-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 32px;
    }

    .benefits__lists-item {
        display: flex;
        flex-direction: column;
    }

    .benefits__lists--inner {
        margin-bottom: 24px;
        padding-right: 30px;
        flex-grow: 1;
    }

    .benefits__item-img {
        height: 390px;
    }

    .benefits__item-img img {
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .benefits__men {
        order: 1;
    }

}