.how-it-works_title {
    color: #475569;
}

.how-it-works_title h2 {
    margin-bottom: 12px;
}

.how-it-works .main-container {
    display: grid;
}

.how-it-works_list-title {
    max-width: 310px;
    margin-bottom: 24px;
    color: #F9A351;
    font-family: 'Gotham', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    text-transform: capitalize;
}

.how-it-works_list {
    display: grid;
    margin-bottom: 12px;
    grid-row-gap: 32px;
    counter-reset: workListCounter;
}

.how-it-works_list-item {
    position: relative;
    padding-top: 66px;
}

.how-it-works_list-item:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 98px;
    height: 98px;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
}

.how-it-works_list-item:nth-child(1):before {
    background-image: url("../img/how-it-works/1.webp");
}

.how-it-works_list-item:nth-child(2):before {
    background-image: url("../img/how-it-works/2.webp");
}
.how-it-works_list-item:nth-child(3):before {
    background-image: url("../img/how-it-works/3.webp");
}

.how-it-works_list-item-inner {
    padding: 40px 16px 16px;
    border-radius: 24px;
    background-image: url("../img/how-it-works/how-it-works-bg-mobile.webp");
    box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
    text-align: center;
}

.how-it-works_list-item-title-wrap {
    position: relative;
    margin-bottom: 24px;
    padding-bottom: 24px;
}

.how-it-works_list-item-title-wrap:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.how-it-works_list-item-title-wrap .btn {
    width: 100%;
}

.how-it-works_list-item-title-wrap .btn {
    margin-top: 24px;
}

.how-it-works_list-item-subtitle {
    margin-top: 22px;
    font-size: 16px;
    font-weight: 700;
}

.how-it-works_list-description {
    text-align: center;
    color: #8B8E99;
    font-size: 14px;
}

.how-it-works {
    position: relative;
    padding-bottom: 72px;
}

@media (max-width: 1279px) {
    .how-it-works_title .btn {
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 767px) {
    .how-it-works_title .btn {
        left: 20px;
        right: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .how-it-works_title .btn {
        max-width: 210px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    .how-it-works_title {
        text-align: center;
    }

    .how-it-works_list-item {
        padding-top: 0;
        padding-left: 52px;
    }

    .how-it-works_list-item:before {
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .how-it-works_list-item-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 20px 20px 20px 64px;
        text-align: left;
        background-image: url("../img/how-it-works/how-it-works-bg-desktop.webp");
        background-size: cover;
        background-position: center;
    }

    .how-it-works_list-item-title-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-bottom: 0;
        margin-right: 24px;
        padding-bottom: 0;
        padding-right: 24px;
    }

    .how-it-works_list-item-title-wrap:after {
        left: auto;
        right: 0;
        top: 0;
        bottom: auto;
        width: 3px;
        height: 100%;
    }

    .how-it-works_list-item-title-wrap .btn {
        padding-right: 16px;
        padding-left: 16px;
        font-size: 16px;
    }

    .how-it-works_list-title {
        max-width: none;
        font-size: 32px;
        text-align: center;
    }

    .how-it-works_list-item-title h3 {
        font-size: 28px;
        text-align: center;
    }

    .how-it-works_list-item-inner p {
        font-size: 18px;
    }

    .how-it-works_list-description {
        font-size: 18px;
        font-weight: 700;
    }

    .how-it-works_list {
        margin-bottom: 24px;
    }

}

@media (min-width: 1280px) {
    .how-it-works .main-container {
        grid-template-columns: 1fr 870px;
        grid-column-gap: 100px;
    }
    .how-it-works_list-item-inner {
        grid-template-columns: 1fr 330px;
    }

    .how-it-works_title {
        text-align: left;
        font-size: 18px;
    }

    .sticky-wrapper {
        position: sticky;
        top: 230px;
    }

    .how-it-works_list-title {
        text-align: left;
    }

    .how-it-works_list-item-title-wrap .btn {
        font-size: 18px;
    }
}